## Grouping by column

In [3]:
import pandas as pd

df = pd.DataFrame([
    [2017,'CLE',1449,818],
    [2015,'CLE',1395,669],
    [2016,'BOS',1598,878],
    [2015,'DET',1515,689],
    [2016,'DET',1476,750],
    [2016,'CLE',1435,777],
    [2015,'BOS',1495,748],
    [2017,'BOS',1461,785]
], columns=['yearID', 'teamID', 'H', 'R'])

# Predefined df of MLB stats
print('{}\n'.format(df))

groups = df.groupby('yearID')
for name, group in groups:
  print('Year: {}'.format(name))
  print('{}\n'.format(group))
  
print('{}\n'.format(groups.get_group(2016)))
print('{}\n'.format(groups.sum()))
print('{}\n'.format(groups.mean()))

no2015 = groups.filter(lambda x: x.name > 2015)
print(no2015)

   yearID teamID     H    R
0    2017    CLE  1449  818
1    2015    CLE  1395  669
2    2016    BOS  1598  878
3    2015    DET  1515  689
4    2016    DET  1476  750
5    2016    CLE  1435  777
6    2015    BOS  1495  748
7    2017    BOS  1461  785

Year: 2015
   yearID teamID     H    R
1    2015    CLE  1395  669
3    2015    DET  1515  689
6    2015    BOS  1495  748

Year: 2016
   yearID teamID     H    R
2    2016    BOS  1598  878
4    2016    DET  1476  750
5    2016    CLE  1435  777

Year: 2017
   yearID teamID     H    R
0    2017    CLE  1449  818
7    2017    BOS  1461  785

   yearID teamID     H    R
2    2016    BOS  1598  878
4    2016    DET  1476  750
5    2016    CLE  1435  777

           H     R
yearID
2015    4405  2106
2016    4509  2405
2017    2910  1603

                  H           R
yearID
2015    1468.333333  702.000000
2016    1503.000000  801.666667
2017    1455.000000  801.500000

   yearID teamID     H    R
0    2017    CLE  1449  818
2    2016    BOS  1598  878
4    2016    DET  1476  750
5    2016    CLE  1435  777
7    2017    BOS  1461  785

## Multiple columns

In [5]:
# player_df is predefined
groups = df.groupby(['yearID', 'teamID'])

for name, group in groups:
  print('Year, Team: {}'.format(name))
  print('{}\n'.format(group))

print(groups.sum())

Year, Team: (2015, 'BOS')
   yearID teamID     H    R
6    2015    BOS  1495  748

Year, Team: (2015, 'CLE')
   yearID teamID     H    R
1    2015    CLE  1395  669

Year, Team: (2015, 'DET')
   yearID teamID     H    R
3    2015    DET  1515  689

Year, Team: (2016, 'BOS')
   yearID teamID     H    R
2    2016    BOS  1598  878

Year, Team: (2016, 'CLE')
   yearID teamID     H    R
5    2016    CLE  1435  777

Year, Team: (2016, 'DET')
   yearID teamID     H    R
4    2016    DET  1476  750

Year, Team: (2017, 'BOS')
   yearID teamID     H    R
7    2017    BOS  1461  785

Year, Team: (2017, 'CLE')
   yearID teamID     H    R
0    2017    CLE  1449  818

                  H    R
yearID teamID
2015   BOS     1495  748
       CLE     1395  669
       DET     1515  689
2016   BOS     1598  878
       CLE     1435  777
       DET     1476  750
2017   BOS     1461  785
       CLE     1449  818